<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
            aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="#">Anasayfa</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Sınav İşlemleri</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
{{data.length}}
<div class="questions-body">
    <div class="card" *ngFor="let datas of data">
        <div class="card-body">
            <p class="card-text">
                {{datas.prompt}}
            </p>
            <button class="btn btn-primary">{{datas.answerA}}</button>
            <button class="btn btn-primary">{{datas.answerB}}</button>
            <button class="btn btn-primary">{{datas.answerC}}</button>
            <button class="btn btn-primary">{{datas.answerD}}</button>
        </div>
    </div>
</div>